.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 200px 200px;
    position: absolute;
    opacity: 100%;
    z-index: 1;
    transition: all .3s ease-out;
    transform: scale(1);
    background-color: rgba(233, 192, 43, 0.3);
    border-radius: 50px;

}

.hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0%;
    z-index: -1;
    transition: all .3s ease-out;
    transform: scale(.8);
}

.toBlur {
    filter: blur(3px);
    transition: all .3s ease-out;
}

body {
    color: white;
    background-color: black;
}

.mainUi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.problemStatement {
    font-size: 5rem;
    transition: all .1s ease-out;
}

.wrongAnswer {
    color: red;
    transition: all .1s ease-out;
}

.rightAnswer {
    color: green;
    transition: all .1s ease-out;
}